@model OzdilekBtServisTakipPortalı.ViewModel.Admin1ViewModel

<style type="text/css">
    .table table-striped tr td{
        width:350px;
          display: table-cell;
    vertical-align: inherit;
    }
</style>



<div class="row">
                  
  <div class="col-xs-6">

<table  class="table table-striped">
  <thead >
      <tr>  
      <td>
         #
      </td>
      <td>
          Marka Adı
      </td>
      </tr>
  </thead>
    <tbody>
    @foreach (var f in Model.Markalist)
    {
        <tr>
      <td>
          @f.MarkaID
      </td>

      <td>
          @f.MarkaAdi
      </td>

          <td class="btn-group">
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">İşlemler<span class="caret"></span></button>
          <ul class="dropdown-menu">
          <li class="markaguncelle" data-id="@f.MarkaID"><a >Güncelle</a></li>
          <li class="markasil" data-id="@f.MarkaID"><a >Sil</a></li>
          </ul>
          </td>

        </tr>
      
    }

        </tbody>
        
</table>
  </div>


  <div class="col-xs-6">                   
<table  class="table table-striped">
  <thead >
      <tr>  
      <td>
         #
      </td>
      <td>
          Firma Adi
      </td>
          
      </tr>
  </thead>
    <tbody>
    @foreach (var f in Model.Firmalist)
    {
        <tr>
      <td>
          @f.FirmaID
      </td>

      <td>
          @f.FirmaAdi
      </td>
          <td class="btn-group">
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">İşlemler<span class="caret"></span></button>
          <ul class="dropdown-menu">
          <li class="firmaguncelle" data-id="@f.FirmaID"><a >Güncelle</a></li>
          <li class="firmasil" data-id="@f.FirmaID"><a >Sil</a></li>
          </ul>
          </td>

        </tr>
      
    }

        </tbody>
        
</table>
  </div>
           
 
                  

  </div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".markaguncelle").click(function () {
            $("#MarkaDialog").dialog("open");
            var id = $(this).attr("data-id");
            $.ajax({
                url: '/Admin/MarkaGetir',
                type: 'post',
                dataType: 'json',
                data: { "id": id },

                success: function (data) {
                    $("#MarkaID").val(data.MarkaID);
                    $("#MarkaAdi").val(data.MarkaAdi);
                }
            });
        });
        $(".firmaguncelle").click(function () {
            $("#FirmaDialog").dialog("open");
            var id = $(this).attr("data-id");
            $.ajax({
                url: '/Admin/FirmaGetir',
                type: 'post',
                dataType: 'json',
                data: { "id": id },

                success: function (data) {
                    $("#FirmaID").val(data.FirmaID);
                    $("#FirmaAdi").val(data.FirmaAdi);
                }
            });
        });
     });
</script>