@model OzdilekBtServisTakipPortalı.ViewModel.AdminViewModel

@{
    ViewBag.Title = "YetkiveTanimlamalar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
     <li class="active">Yetki ve Tanımlamalar</li>
  <li><a href="/Admin/YetkiveTanimlamalar1">Yetki ve Tanımlamalar1</a></li>
</ol>
<h4><small> Hoş Geldiniz <strong>@ViewBag.kadi</strong></small> </h4>
<h2 class="text-center">Kullanıcı - Şube - Lokasyon Tanımlama</h2>
<div class="row">
    <div>
        @using (Ajax.BeginForm("YetkiveTanimlamalar", "Admin", FormMethod.Post, new AjaxOptions { OnSuccess = "loadk" }))
    {
        <div class="text-center" id="submitetıklat" >  
                 Arama:         
            @Html.TextBoxFor(m=>m.arama) 
            <input class="btn btn-default btn-sm dropdown-toggle" type="submit" value="Ara" name="submit" />    
        </div>
      }

    </div>

</div>

<div class="row">
                  
  <div class="col-xs-6 col-sm-4">
      <div class="row">
      <div  class="col-md-1"> 
      <input class="btn btn-default btn-sm dropdown-toggle" type="button" value="+" id="kullaniciekle" /> 
         
          </div>
      <div  class="col-md-1"> 
</div>
      
  </div>
      </div>


  <div class="col-xs-6 col-sm-4">
      <div class="row">
      <div  class="col-md-1"> 
      <input class="btn btn-default btn-sm dropdown-toggle" type="button" value="+" id="subeekle" /> 
         
          </div>
      <div  class="col-md-1"> 
</div>
      
  </div>
      </div>


  <div class="col-xs-6 col-sm-4">
      <div class="row">
      <div  class="col-md-1"> 
      <input class="btn btn-default btn-sm dropdown-toggle" type="button" value="+" id="lokasyonekle" /> 
         
          </div>
      <div  class="col-md-1"> 
</div>
     
  </div>
      </div>


 
 
                 
 
                  

  </div>



<div id="ajax-main">
@Html.Partial("adminlist", @Model)
</div>

<br />
<br />
<br />
<br />
<br />
<br />

<div id="KullaniciDialog" title="Kullanıcı Kayıt İşlemleri">
    @using (Ajax.BeginForm("KullaniciCreate", "Admin", FormMethod.Post, new AjaxOptions { OnSuccess = "KullaniciCreate" }, new { id = "AdminKullaniciCreate" }))
    {
        
        @Html.HiddenFor(m=>m.KullaniciID)
        @Html.HiddenFor(m=>m.KullaniciSonGirisTarihi)
 
        <div>
            Kullanıcı Adı:
            <br />
            @Html.TextBoxFor(m => m.KullaniciAdi)
        </div>
        <div>
            Şifre:
            <br />
            @Html.TextBoxFor(m => m.KullaniciSifre)
        </div>
       
          <div>
           Kullanıcı Yetkisi:
            <br />
             @Html.DropDownListFor(m => m.KullaniciYetki, new SelectList(
                  new List<Object>{ 
                      new { value=0,text = "Seçiniz"  },
                       new { value = 1 , text = "Uygulama Destek"  },
                       new { value = 2 , text = "Görüntüleme" },
                       new { value = 3 , text = "Admin"}
                    },
                  "value",
                  "text",
                   2),new { style="height: 30px; width: 175px;"})
        </div>
        <div style="margin-top:10px;">
            <input class="btn btn-default btn-sm dropdown-toggle" type="submit" value="Kaydet" />
        </div>
       
    }  
</div>
<div id="SubeDialog" title="Şube Kayıt İşlemleri">
    @using (Ajax.BeginForm("SubeCreate", "Admin", FormMethod.Post, new AjaxOptions { OnSuccess = "SubeCreate" }, new { id = "AdminSubeCreate" }))
    {   
        @Html.HiddenFor(m=>m.SubeID) 
        <div>
            Şube Adı:
            <br />
            @Html.TextBoxFor(m => m.SubeAdi)
        </div>
        <div style="margin-top:10px;">
            <input class="btn btn-default btn-sm dropdown-toggle" type="submit" value="Kaydet" />
        </div>
       
    }  
</div>

<div id="LokasyonDialog" title="Lokasyon Kayıt İşlemleri">
    @using (Ajax.BeginForm("LokasyonCreate", "Admin", FormMethod.Post, new AjaxOptions { OnSuccess = "LokasyonCreate" }, new { id = "AdminLokasyonCreate" }))
    {   
        @Html.HiddenFor(m=>m.LokasyonID) 
        <div>
            Lokasyon Adı:
            <br />
            @Html.TextBoxFor(m => m.LokasyonAdi)
        </div>
        <div style="margin-top:10px;">
            <input class="btn btn-default btn-sm dropdown-toggle" type="submit" value="Kaydet" />
        </div>
       
    }  
</div>








<script type="text/javascript">
    $(document).ready(function () {
        $("#kullaniciekle").click(function () {
            $("#KullaniciDialog").dialog("open");
            $("#AdminKullaniciCreate")[0].reset();
            $("#KullaniciID").val("0");
        });

        $("#KullaniciDialog").dialog({
            width: 210,
            height: 455,
            autoOpen: false,
        });

        $("#subeekle").click(function () {
            $("#SubeDialog").dialog("open");
            $("#AdminSubeCreate")[0].reset();
            $("#SubeID").val("0");
        });

        $("#SubeDialog").dialog({
            width: 210,
            height: 210,
            autoOpen: false,
        });

        $("#lokasyonekle").click(function () {
            $("#LokasyonDialog").dialog("open");
            $("#AdminLokasyonCreate")[0].reset();
            $("#LokasyonID").val("0");
        });

        $("#LokasyonDialog").dialog({
            width: 210,
            height: 210,
            autoOpen: false,
        });


    });

    function KullaniciCreate(result) {
        if (result == "1") {

            $.ajax({
                url: '/Admin/YetkiveTanimlamalar',
                type: 'get',
                dataType: 'html',
                success: function (data) {
                    $("#ajax-main").html(data);
                    $("#KullaniciDialog").dialog("close");
                    $("#AdminKullaniciCreate")[0].reset();
                    alert("Kayıt Oluşturulmuştur.");
                }
            });
        }
        else if (result == "2") {
            $.ajax({
                url: '/Admin/YetkiveTanimlamalar',
                type: 'get',
                dataType: 'html',
                success: function (data) {
                    $("#ajax-main").html(data);
                    $("#KullaniciDialog").dialog("close");
                    $("#AdminKullaniciCreate")[0].reset();
                    $("#submitetıklat").submit();
                    alert("Güncellenmiştir");
                                           }       

                    });
                                }
    }
    function SubeCreate(result) {
        if (result == "1") {

            $.ajax({
                url: '/Admin/YetkiveTanimlamalar',
                type: 'get',
                dataType: 'html',
                success: function (data) {
                    $("#ajax-main").html(data);
                    $("#SubeDialog").dialog("close");
                    $("#AdminSubeCreate")[0].reset();
                    alert("Kayıt Oluşturulmuştur.");
                }
            });
        }
        else if (result == "2") {
            $.ajax({
                url: '/Admin/YetkiveTanimlamalar',
                type: 'get',
                dataType: 'html',
                success: function (data) {
                    $("#ajax-main").html(data);
                    $("#SubeDialog").dialog("close");
                    $("#AdminSubeCreate")[0].reset();
                    $("#submitetıklat").submit();
                    alert("Güncellenmiştir");
                }

            });
        }
    }
    function LokasyonCreate(result) {
        if (result == "1") {

            $.ajax({
                url: '/Admin/YetkiveTanimlamalar',
                type: 'get',
                dataType: 'html',
                success: function (data) {
                    $("#ajax-main").html(data);
                    $("#LokasyonDialog").dialog("close");
                    $("#AdminLokasyonCreate")[0].reset();
                    alert("Kayıt Oluşturulmuştur.");
                }
            });
        }
        else if (result == "2") {
            $.ajax({
                url: '/Admin/YetkiveTanimlamalar',
                type: 'get',
                dataType: 'html',
                success: function (data) {
                    $("#ajax-main").html(data);
                    $("#LokasyonDialog").dialog("close");
                    $("#AdminLokasyonCreate")[0].reset();
                    $("#submitetıklat").submit();
                    alert("Güncellenmiştir");
                }

            });
        }
    }



    function loadk(result) {
        $("#ajax-main").html(result);
    }
 </script>


@section scripts
{
<script type="text/javascript">
    $(document).on("click", ".kullanicisil", function () {
        var confirmdelete = confirm("Silme İşlemini Onaylıyor musunuz?");
        if (confirmdelete == true) {
            var id = $(this).attr("data-id");

            var deleteTr = $(this).closest("tr");

            $.ajax({
                url: '/Admin/KullaniciDelete/' + id,
                type: 'POST',
                success: function (result) {
                    if (result == "2") {
                        deleteTr.remove();
                    }
                    else {
                        alert("İşlem sırasında hata oluştu");
                    }
                }
            });
        }

    });
    $(document).on("click", ".subesil", function () {
        var confirmdelete = confirm("Silme İşlemini Onaylıyor musunuz?");
        if (confirmdelete == true) {
            var id = $(this).attr("data-id");

            var deleteTr = $(this).closest("tr");

            $.ajax({
                url: '/Admin/SubeDelete/' + id,
                type: 'POST',
                success: function (result) {
                    if (result == "2") {
                        deleteTr.remove();
                    }
                    else {
                        alert("İşlem sırasında hata oluştu");
                    }
                }
            });
        }

    });
    $(document).on("click", ".lokasyonsil", function () {
        var confirmdelete = confirm("Silme İşlemini Onaylıyor musunuz?");
        if (confirmdelete == true) {
            var id = $(this).attr("data-id");

            var deleteTr = $(this).closest("tr");

            $.ajax({
                url: '/Admin/LokasyonDelete/' + id,
                type: 'POST',
                success: function (result) {
                    if (result == "2") {
                        deleteTr.remove();
                    }
                    else {
                        alert("İşlem sırasında hata oluştu");
                    }
                }
            });
        }

    });
 </script> 
}